<nav class="navbar navbar-expand-lg header-navbar sticky"
    style="background-color: white; box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);"
>
    <div class="container-fluid">
      <a class="navbar-brand nav-link active" routerLinkActive="active" routerLink="/home">
        <img 
            src="assets/images/logo-dalton.png"
            alt="logo dalton"
            style="scale: 0.8;"
        >
      </a>
      
      <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/home">Home</a>
          </li> -->
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/pages/marcas">Marcas</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/pages/modelos">Modelos</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <p class="text-close-sesion" (click)="logout()" *ngIf="isLoggedIn()">Cerrar Sesión</p>
          <img [src]="userPhotoUrl" alt="foto perfil" class="img-perfil">
        </form>
      </div>
    </div>
  </nav>
