/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf');
}

.page-content {
    height: 100vh; 
    overflow: auto;
    padding-bottom: 130px;
    margin-top: 20px;
}

.btn-uno {
    background-color: #0400FF !important;
}
.btn-dos {
    background-color: #FF6600 !important;
}
.btn-tres {
    background-color: #EFF0E1 !important;
}
.btn-tres {
    background-color: #141414 !important;
}
.btn-tres {
    background-color: #A5A5A5 !important;
}